*.class
*.log
*.DS_Store

# AvyEyes specific
conf/application.conf
conf/application.prod.conf
dist/.ebextensions/ssl.config

# SBT
.cache
.history
.lib/
target/

# NPM
app/assets/javascripts/build
node_modules

# IntelliJ
.idea/
