*.class
*.log
*.DS_Store

# avyeyes specific
conf/application.conf
conf/application.prod.conf
conf/avyeyes.crt
conf/avyeyes.key

# sbt specific
.cache
.history
.lib/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Intellij
.idea/
