/* --------------------------- READ-ONLY FORM --------------------------- */

#roAvyFormDialog {
    margin: 5px 5px 0px 5px;
    padding: 0px;
}

.roAvyFormDialog .ui-dialog-titlebar {
	display: none;
}

#roAvyFormTable {
    width: 100%;
    overflow-x: hidden;
}

#roAvyFormTable > tbody > tr > td {
    vertical-align: top;
}

#roAvyFormTitleContainer {
    width: 100%;
    position: relative;
}

#roAvyFormTitleContainer > table > tbody > tr > td {
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}

#roAvyFormTitleAndSubmitterTable {
    max-width: 530px;
    float: left;
}

#roAvyFormTitle {
    font: bold 1.2em times,serif !important;
}

#roAvyFormSubmitterExpTd {
	font: italic .8em times,serif !important;
}

#roAvyFormShareTable {
    float: right;
}

#roAvyFormExtLink {
    font: normal .8em times,serif !important;
    text-decoration: none;
}

#roAvyFormShareTable > tbody > tr > td {
    text-align: right;
    padding: 0px;
    margin: 0px;
}

#roAvyFormSocialButtonsTable {
    width: 100%;
}

#roAvyFormSocialButtonsTable > tbody > tr > td {
    vertical-align: top;
    padding: 0px;
}

#roAvyFormSocialButtonsTable > tbody > tr > td:first-child {
    width: 99%;
    padding-right: 5px;
}

#roAvyFormSocialButtonsTable img {
    cursor: pointer;
}

#roAvyFormTable hr {
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.roAvyFormSubTable {
	margin: 0px;
}

.roAvyFormFieldsSubTable {
    font-size: .9em;
    min-width: 200px;
	padding: 5px;
    margin: 0px;
    border: 1px solid #7D7D7D;
    border-radius: 10px;
    text-align: left;
}

.roAvyFormFieldsSubTable tbody tr td:first-child {
    width: 1%;
    white-space: nowrap;
}

#roAvyFormImageRow {
    display: none;
}

#roAvyFormImageRow table {
    width: 100%;
}

#roAvyFormImageDiv {
	width: 100%;
}

#roAvyFormImageList {
    width: 760px; // needs a set width for horizontal scroll
	max-height: 90px;
	margin: 0px;
	padding: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;
    white-space: nowrap;
}

.roAvyFormImageListItem {
    max-width: 110px;
    max-height: 110px;
    display: inline-block;
    margin: 0px 5px 0px 0px;
}

.roAvyFormImageListItem img {
    max-width: 100px;
    max-height: 70px;
    cursor: zoom-in;
}

#roAvyFormCommentsRow {
	display: none;
}

#roAvyFormCommentsRow table {
    width: 100%;
}

#roAvyFormCommentsHeaderWrapper img {
    padding-left: 5px;
    vertical-align: middle;
}

#roAvyFormComments {
    background-color: transparent;
    color: white;
    border: 0px;
    width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
    padding: 0px;
    margin: 0px;
    font: normal 1em times,serif !important;
    resize: none;
}

#roAvyFormCommentsLightboxDiv {
    display: none;
    width: 800px;
    height: 600px;
    overflow: hidden;
}

#roAvyFormCommentsLightboxDiv textarea {
    width: 790px;
    height: 590px;
    resize: none;
    border: 0px;
    padding: 5px;
    margin: 0px;
    overflow-x: hidden;
 	overflow-y: auto;
}

/* -------------------------------------------------------------------------- */
/* --------------------------- END READ-ONLY FORM --------------------------- */
/* --------------------------- BEGIN READ-WRITE FORM ------------------------ */
/* -------------------------------------------------------------------------- */

#rwAvyFormOverlay {
    display: block;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

#rwAvyFormDiv {
    width: 800px;
    height: 700px;
	background-color: #1d1d1d;
	z-index: 10;
}

#rwAvyFormDiv > form {
    width: 800px;
    height: 650px;
}

#rwAvyFormButtonBar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: right;
}

#rwAvyFormButtonBar > .avyButton {
    padding: 5px 12px 5px 12px;
    margin: 10px 10px 0px 0px;
}

#rwAvyFormDeleteButton.avyButton {
    display: none;
    float: left;
    margin: 10px 0px 0px 10px;
    border: 1px solid red;
}

#rwAvyFormDetailsMainTable {
    width: 100%;
    height: 100%;
}

.ui-accordion {
    text-align: left;
    font: normal .9em times,serif !important;
}

#rwAvyFormAccordion .ui-accordion-header {
    padding: 5px 5px 5px 30px;
}

#rwAvyFormAccordion .ui-accordion-content {
    padding: 5px 10px 5px 10px;
}

#rwAvyFormDetailsMainTable > tbody > tr > td {
    vertical-align: top;
}

#rwAvyFormDetailsLeftColumnTable {
    width: 410px;
}

.rwAvyFormSubTable {
    width: 100%;
	margin: 0px 0px 10px 0px;
}

.rwAvyFormInputsSubTable {
    width: 100%;
    padding: 5px;
    margin: 0px;
	border: 1px solid #7D7D7D;
	border-radius: 10px;
}

.rwAvyFormInputsSubTable > tbody > tr > td {
    padding-top: 5px;
    margin: 0px;
    vertical-align: middle;
    white-space: nowrap;
}

.rwAvyFormInputsSubTable > tbody > tr > td:nth-child(2) {
    width: 99%;
}

#rwAvyFormRequiredFieldsMsgTd {
	text-align: right;
	white-space: nowrap;
}

.requiredAsterisk {
    color: red;
}

.rwAvyFormSectionHeader {
	font-weight: bold;
	padding: 0px;
}

#rwAvyFormAdminTd {
	display: none;
}

#rwAvyFormAdminTd .rwAvyFormInputsSubTable {
    border: 1px solid red;
}

.rwAvyFormElevation {
    width: 40px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    background: transparent;
    color: white;
    border: none;
}

#rwAvyFormElevation, #rwAvyFormElevationFt {
    text-align: right;
}

.rwAvyFormUnitSuffix {
    padding-left: 5px;
    padding-right: 5px;
}

.avyDirectionAutoComplete {
    width: 35px;
}

#rwAvyFormCommentsInstrDiv {
    margin-top: 10px;
}

#rwAvyFormComments {
	width: 100%;
	height: 450px;
	resize: none;
}

#rwAvyFormImageDropZoneInstrDiv {
    width: 100%;
    padding: 10px 0px 5px 30px;
    text-align: left;
}

#rwAvyFormImageDropZoneInstrDiv ul {
    padding: 0px;
    margin: 0px;
}

#rwAvyFormImageDropZoneInstrDiv li {
    padding: 0px 0px 5px 0px;
    margin: 0px;
}

#rwAvyFormImageDropZoneInstrDiv li img {
    vertical-align: middle;
    width: 20px;
}

#rwAvyFormImageDropZone {
    background-image: url("../images/drag-and-drop-background.png");
    background-repeat: no-repeat;
    background-position: center;
	border: 1px solid #7D7D7D;
	width: 100%;
	height: 430px;
	overflow: hidden;
}

#rwAvyFormImageGrid {
    vertical-align: top;
    width: 100%;
}

.rwAvyFormImageCell {
    display: inline-block;
    width: 150px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    margin: 3px 3px 3px 0px;
}

.rwAvyFormImageWrapper {
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
}

img.rwAvyFormImage {
    max-width: 150px;
    max-height: 100px;
    position: relative;
    top: 0;
    left: 0;
    cursor: move;
}

img.rwAvyFormImageEditIcon {
    position: absolute;
    top: 0px;
    left: 0px;
}

img.rwAvyFormImageDeleteIcon {
    position: absolute;
    top: 0px;
    right: 0px;
}
