@import url("avyeyes-ui.css");
@import url("jquery.dataTables.css");


#avyAdminLayoutTable {
  width: 100%;
  height: 100%;
}

#avyAdminConsoleTitle {
	font-size: 2em;
}

#avyAdminHeaderTitleTd {
    white-space: nowrap;
    padding-right: 50px;
    padding-bottom: 30px;
}

#avyAdminTableRow {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

#topCenterMsgDiv {
    color: black !important;
}

#adminLogout:link, #adminLogout:visited {
    color: black !important;
}