<configuration>
    <appender name="AVYEYES-DAILY-ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir:-logs}/avyeyes.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir:-logs}/avyeyes.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>25MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date - [%level] - %logger: %message%n%xException</pattern>
        </encoder>
    </appender>

  <logger name="play" level="WARN" />

  <logger name="avyeyes" level="DEBUG" />

  <logger name="securesocial" level="DEBUG" />

  <root level="INFO">
    <appender-ref ref="AVYEYES-DAILY-ROLLING-FILE" />
  </root>
</configuration>
