body {
	margin:0px; 
	overflow:hidden; 
	font-size:100%;
}

label {
    cursor: help;
	font: normal 1em times,serif !important;
}

input {
	font: normal 1em times,serif !important;
	padding-left: 5px;
}

textarea {
	font: normal 1em times,serif !important;
}

textarea:focus, input:focus {
    outline: 0;
}

.ui-widget {
    font-size: 1em;
}

.ui-menu {
	width: 185px;
}

.ui-menu a {
    text-decoration: none;
    font: normal 1em times,serif !important;
}

.ui-datepicker{
    font-size: .8em;
    z-index: 3;
}

.ui-widget-overlay {
   background: black;
   opacity: .40;
   filter: Alpha(Opacity=40);
}

.hasDatepicker {
    background: transparent;
    color: white;
    border: 1px solid #555555;
    width: 80px;
    height: 20px;
}

.ui-autocomplete {
    background: #1D1D1D;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-autocomplete-input {
    color: white;
    border: 1px solid #555555;
    width: 200px;
    height: 20px;
    background: transparent;
}

.ui-button-text {
    font-size: .8em;
    padding: 1px 1px 1px 1px;
}

.ui-spinner {
    background: transparent;
}

.ui-spinner-input {
    width: 30px;
    height: 20px;
    font-size: 1em;
}

.ui-slider {
    background: transparent;
}

.avyRawTextInput {
	width: 200px;
    height: 20px;
    background: transparent;
    color: white;
    border: 1px solid #555555;
}

.avyRDSliderContainer {
    position: relative;
    width: 200px
}

.avyRDSliderValue {
    position: fixed;
    width: 30px;
    color: white;
    background: transparent;
    border: none;
    height: 20px;
    font-size: 1em;
    padding: 0px 5px 0px 0px;
}

.avyRDSlider {
    float: right;
    width: 170px;
    margin-top: 5px;
}

.avyDialog {
    font: normal 1em times,serif !important;
}

.avyDialog .ui-dialog-titlebar-close {
    display: none;
}

.avyTooltip {
	font: normal 1em times,serif !important;
}

.avyTooltip br {
    line-height:32px;
}