.avyReportDrawDialog {
    font: normal 1em times,serif !important;
}

.avyReportDrawDialog .ui-dialog-titlebar-close {
    display: none;
}

.avyReportDetailsDialog {
	font: normal 1em times,serif !important;
	padding: 0px;
    margin: 0px;    
}

.avyReportDetailsDialog .ui-dialog-titlebar {
	display: none;
}

#avyReportImgDialog {
	display: none;
	width: 750px;
	height: 500px;
}

#avyReportImgTable {
	width: 100%;
    height: 100%;
}

#avyReportFinishedImgsTable {
	width: 100%;
}

#avyReportFinishedImgsTable tr {
    height: 30px;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}

#avyReportFinishedImgsTable td {
    vertical-align: middle;
}

#avyReportImgDropZone {
	display: block;
	background-color: #000000;
	color: white;
	width: 700px;
	height: 400px;
}

#avyReportImgDropZoneMsg {
    text-align: center;
    font-size: 1.5em;
}

#avyReportImgDropZoneMsg p {
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
}

#avyReportDetailsMainTable td {
    vertical-align: top;
}

#avyReportDetailsLeftColumnTable {
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
}

#avyReportDetailsRightColumnTable {
    padding: 0px 0px 0px 20px;
    margin: 0px;
    border-spacing: 0px;
}

.avyReportSubTable {
	margin: 0px 0px 10px 0px;
}

.avyReportInputsSubTable {
    padding: 5px;
    margin: 0px;
	border:1px solid #555555;
	border-radius: 10px;
}

.avyReportInputsSubTable td {
    padding-top: 5px;
    margin: 0px;
    vertical-align: middle;
}

.avyReportSectionHeader {
	font-weight: bold;
	padding: 0px;
}

#avyReportAreaName {
	background: transparent;
    color: white;
    border: 1px solid #555555;
}

#avyReportElevation {
	background: transparent;
    color: white;
    border: 1px solid #555555;
}

#avyReportSlopeElevation {
    border: 0px;
    width: 60px;
}

.avySlopeAspectAutoComplete {
    width: 30px;
}

.avySlopeAngle {
	width: 30px;
}