#loadingDiv {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200000;
  background-color: white;
}

#loadingMsgDiv {
    position: absolute;
    margin: auto;
    height: 200px;
    top: -100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    font-size: 2.5em;
}

#loadingMsgDiv p {
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
}

#aeControlIframe {
    position: absolute;
    zIndex: 9;
}

#aeControlContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 60px;
    zIndex: 10;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

#aeTitleContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: inherit;
    height: 60px;
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

#aeTitleContainer img {
    width: inherit;
    padding: 0px;
    margin: 0px 0px 0px 25px;
}

#aeMenuButtonContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
}
    
#aeMenuList {
    display: none;
    position: absolute;
    top: 100%;
    left: 100%;
    margin: 0px;
    font: normal 1em times,serif !important;
}

#aeSearchControlContainer {
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.5);
}

#aeSearchControlContainer hr {
    margin: 0px 10px 0px 10px;
    padding: 0px;
}

.avySearchHeaderContainer {
    position: relative;
    padding: 15px 0px 25px 10px;
}

.avySearchHeader {
    position: fixed;
    font-size: 1.1em;
    font-weight: bold;
    width: 150px;
}

#avySearchHowItWorksDiv {
    float: right;
    font-size: .9em;
    padding: 3px 10px 0px 0px;
}

.avySearchTableLabel {
	width: 70px;
	padding: 5px 0px 0px 0px;
    margin: 0px;
}

.avySearchTableInput {
	width:210px;
	padding: 5px 0px 0px 0px;
    margin: 0px;
}

#aeSearchControlContainer table {
    padding: 0px 10px 0px 10px;
    margin: 0px;
    width: 100%;
    cellspacing: 0px;
    cellpadding: 0px;
}

.avySearchSubHeader {
	padding: 20px 0px 5px 0px;
}

#avySearchHumanNumbersTable {
	float: left;
	width: 100%;
	cellspacing: 0px;
    cellpadding: 0px;
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
}

#avySearchButtonContainer {
	position: relative;
	width: 100%;
}

#avySearchButton {
    float: right;
    padding: 5px;
    margin: 20px 10px 20px 0px;
}

#avyDetailDialog {
    margin: 5px 5px 0px 5px;
    padding: 0px;
}

#avyDetailTable {
    width: 730px;
}

#avyDetailTitle {
    width: 530px;
    height: auto;
}

#avyDetailExtLink {
    display: inline-block;
    float: right;
    text-decoration: none;
}

#avyDetailTable > tbody > tr > td {
    vertical-align: top;
}

.avyDetailSubTable {
	margin: 10px 0px 0px 0px;
}

.avyDetailFieldsSubTable {
	padding: 5px;
    margin: 0px;
    border: 1px solid #555555;
    border-radius: 10px;
}

#avyDetailCommentsRow {
	display: none;
}

#avyDetailCommentsRow table {
	width: 100%;
}

#avyDetailComments {
	width: 100%;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}

#avyDetailImageRow {
    display: none;
}

#avyDetailImageDiv {
	width: 720px;
    padding: 5px;
    margin: 0px;
    border: 1px solid #555555;
    border-radius: 10px;
}

#avyDetailImageList {
	max-height: 90px;
	margin: 0px;
	padding: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;
    white-space: nowrap;
}

.avyDetailImageListItem {
    max-width: 110px;
    max-height: 110px;
    display: inline-block;
    margin: 0px 5px 0px 0px;
}

.avyDetailImageListItem img {
    max-width: 100px;
    max-height: 70px;
}
