#aeControlContainer {
	position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 60px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

#aeTitleContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: inherit;
    height: 60px;
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

#aeTitleContainer img {
    width: inherit;
    padding: 0px;
    margin: 0px 0px 0px 25px;
}

#aeMenuButtonContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
}
    
#aeMenuList {
    display: none;
    position: absolute;
    top: 100%;
    left: 100%;
    margin: 0px;
    font: normal 1em times,serif !important;
}

#aeSearchControlContainer {
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.5);
}

#aeSearchControlContainer hr {
    margin: 0px 10px 0px 10px;
    padding: 0px;
}

#howItWorks :link, :visited {
    color: white;
}

.avySearchHeaderContainer {
    position: relative;
    padding: 15px 0px 25px 10px;
}

.avySearchHeader {
    position: fixed;
    font-size: 1.1em;
    font-weight: bold;
    width: 150px;
}

#avySearchHowItWorksDiv {
    float: right;
    font-size: .9em;
    padding: 3px 10px 0px 0px;
}

.avySearchTableLabel {
	width: 70px;
	padding: 5px 0px 0px 0px;
    margin: 0px;
}

.avySearchTableInput {
	width:210px;
	padding: 5px 0px 0px 0px;
    margin: 0px;
}

#aeSearchControlContainer table {
    padding: 0px 10px 0px 10px;
    margin: 0px;
    width: 100%;
}

.avySearchSubHeader {
	padding: 20px 0px 5px 0px;
}

#avySearchHumanNumbersTable {
	float: left;
	width: 100%;
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
}

#avySearchButtonsContainer {
	float: right;
}

#avySearchButton {
    padding: 5px;
    margin: 20px 10px 20px 0px;
}

#avySearchResetButton {
    padding: 5px;
    margin: 20px 10px 20px 0px;
}

#avyDetailDialog {
    margin: 5px 5px 0px 5px;
    padding: 0px;
}

#avyDetailTable {
    width: 740px;
    overflow-x: hidden;
}

#avyDetailTable > tbody > tr > td {
    vertical-align: top;
}

#avyDetailTitleTable {
    width: 100%;
}

#avyDetailTitleTable > tbody > tr > td {
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}

#avyDetailTitleAndSubmitterTable {
    width: 530px;
}

#avyDetailTitle {
    font: bold 1.2em times,serif !important;
}

#avyDetailSubmitterExpTd {
	font: italic .8em times,serif !important;
}

#avyDetailExtLink {
    font: normal .8em times,serif !important;
    text-decoration: none;
}

#avyDetailSocialButtonsTable > tbody > tr > td {
    vertical-align: top;
    padding: 0px 5px 0px 0px;
    margin: 0px;
}

.twitter-share-button {
    width: 85px !important;
}

#avyDetailTable hr {
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.avyDetailSubTable {
	margin: 0px;
}

.avyDetailFieldsSubTable {
	padding: 5px;
    margin: 0px;
    border: 1px solid #555555;
    border-radius: 10px;
    text-align: left;
}

#avyDetailCommentsRow {
	display: none;
}

#avyDetailCommentsRow table {
	width: 100%;
}

#avyDetailComments pre {
	padding: 0px;
	margin: 0px;
	font: normal 1em times,serif !important;
	white-space: pre-wrap;       /* CSS 3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#avyDetailComments {
	width: 100%; 
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}

#avyDetailImageRow {
    display: none;
}

#avyDetailImageRow table {
    width: 100%;
}

#avyDetailImageDiv {
	width: 100%;
}

#avyDetailImageList {
	max-height: 90px;
	margin: 0px;
	padding: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;
    white-space: nowrap;
}

.avyDetailImageListItem {
    max-width: 110px;
    max-height: 110px;
    display: inline-block;
    margin: 0px 5px 0px 0px;
}

.avyDetailImageListItem img {
    max-width: 100px;
    max-height: 70px;
}
