html {
	height: 100%; 
    width: 100%;
}

body {
	height: 100%; 
    width: 100%;
	margin:0px; 
	overflow:hidden; 
	font-size:100%;
}

#liftContent {
	height: 100%; 
    width: 100%;
}

#map3d {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.avyAdminLoggedInDiv {
	z-index: 10;
	position: absolute;
    top: 10px;
    left: 35%;
    height: 30px;
    width: 400px;
    background: rgba(255, 255, 0, 0.7);
    color: black;
    text-align: center;
}

label {
    cursor: help;
	font: normal 1em times,serif !important;
}

input {
	font: normal 1em times,serif !important;
	padding-left: 5px;
}

textarea {
	font: normal 1em times,serif !important;
}

textarea:focus, input:focus {
    outline: 0;
}

.ui-widget {
    font-size: 1em;
}

.ui-menu {
	width: 185px;
}

.ui-menu a {
    text-decoration: none;
    font: normal 1em times,serif !important;
}

.ui-datepicker{
    font-size: .8em;
    z-index: 1000 !important;
}

.ui-widget-overlay {
   background: black;
   opacity: .40;
   filter: Alpha(Opacity=40);
}

.hasDatepicker {
    background: transparent;
    color: white;
    border: 1px solid #555555;
    width: 80px;
    height: 20px;
}

.ui-autocomplete {
    background: #1D1D1D;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000 !important;
}

.ui-autocomplete-input {
    color: white;
    border: 1px solid #555555;
    width: 200px;
    height: 20px;
    background: transparent;
}

.ui-button-text {
    font-size: .8em;
    padding: 1px 1px 1px 1px;
}

.ui-spinner {
    background: transparent;
}

.ui-spinner-input {
    width: 30px;
    height: 20px;
    font-size: 1em;
}

.ui-slider {
    background: transparent;
}

.avyRawTextInput {
	width: 200px;
    height: 20px;
    background: transparent;
    color: white;
    border: 1px solid #555555;
}

.avyRDSliderContainer {
    position: relative;
    width: 200px
}

.avyRDSliderValue {
    position: fixed;
    width: 30px;
    color: white;
    background: transparent;
    border: none;
    height: 20px;
    font-size: 1em;
    padding: 0px 5px 0px 0px;
}

.avyRDSlider {
    float: right;
    width: 170px;
    margin-top: 5px;
}

#loadingDiv {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: white;
}

#loadingMsgDiv {
    position: absolute;
    margin: auto;
    height: 200px;
    top: -100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    font-size: 2.5em;
}

#loadingMsgDiv p {
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
}

#multiDialog {
	z-index: 101;
}

.ui-dialog {
    font: normal 1em times,serif !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog .ui-dialog-content {
    overflow: hidden;
}

#helpDialog {
	font: normal 1em times,serif !important;
	padding: 0px;
	overflow: hidden;
}

#helpDialog .ui-tabs-anchor {
	padding: 3px 20px;
}

#helpDialog .ui-tabs-panel {
    padding: 20px 10px;
}

#helpDialog li:focus, a:focus {
	outline: 0;
}

#helpDialog .ui-widget-header {
    background: transparent;
}

#reportHelpDiv {
    max-height: 610px;
	overflow-y: auto;
}

.avyTooltip {
	font: normal 1em times,serif !important;
}

.avyTooltip br, #helpDialog br {
    line-height:32px;
}