/* --------------------------- READ-ONLY FORM --------------------------- */

#roAvyFormDialog {
    margin: 5px 5px 0px 5px;
    padding: 0px;
}

.roAvyFormDialog .ui-dialog-titlebar {
	display: none;
}

#roAvyFormTable {
    min-width: 540px;
    max-width: 740px;
    overflow-x: hidden;
}

#roAvyFormTable > tbody > tr > td {
    vertical-align: top;
}

#roAvyFormTitleContainer {
    min-width: 540px;
    max-width: 740px;
    position: relative;
}

#roAvyFormTitleContainer > table > tbody > tr > td {
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}

#roAvyFormTitleAndSubmitterTable {
    max-width: 530px;
    float: left;
}

#roAvyFormTitle {
    font: bold 1.2em times,serif !important;
}

#roAvyFormSubmitterExpTd {
	font: italic .8em times,serif !important;
}

#roAvyFormShareTable {
    float: right;
}

#roAvyFormExtLink {
    font: normal .8em times,serif !important;
    text-decoration: none;
}

#roAvyFormSocialButtonsTable > tbody > tr > td {
    vertical-align: top;
    padding: 0px 5px 0px 0px;
    margin: 0px;
}

.twitter-share-button {
    width: 85px !important;
}

#roAvyFormTable hr {
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.roAvyFormSubTable {
	margin: 0px;
}

.roAvyFormFieldsSubTable {
	padding: 5px;
    margin: 0px;
    border: 1px solid #7D7D7D;
    border-radius: 10px;
    text-align: left;
}

#roAvyFormImageRow {
    display: none;
}

#roAvyFormImageRow table {
    width: 100%;
    max-width: 740px;
}

#roAvyFormImageDiv {
	width: 100%;
}

#roAvyFormImageList {
    width: 100%;
    max-width: 710px;
	max-height: 90px;
	margin: 0px;
	padding: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;
    white-space: nowrap;
}

.roAvyFormImageListItem {
    max-width: 110px;
    max-height: 110px;
    display: inline-block;
    margin: 0px 5px 0px 0px;
}

.roAvyFormImageListItem img {
    max-width: 100px;
    max-height: 70px;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

#roAvyFormCommentsRow {
	display: none;
}

#roAvyFormCommentsRow table {
    width: 100%;
    max-width: 740px;
}

#roAvyFormCommentsHeaderWrapper img {
    padding-left: 5px;
    vertical-align: middle;
}

#roAvyFormComments {
    background-color: transparent;
    color: white;
    border: 0px;
    width: 740px;
	overflow-x: hidden;
	overflow-y: auto;
    padding: 0px;
    margin: 0px;
    font: normal 1em times,serif !important;
    resize: none;
}

#roAvyFormCommentsLightboxDiv {
    display: none;
    width: 700px;
    height: 600px;
    overflow: hidden;
}

#roAvyFormCommentsLightboxDiv textarea {
    width: 690px;
    height: 590px;
    resize: none;
    border: 0px;
    padding: 5px;
    margin: 0px;
    overflow-x: hidden;
 	overflow-y: auto;
}

/* -------------------------------------------------------------------------- */
/* --------------------------- END READ-ONLY FORM --------------------------- */
/* --------------------------- BEGIN READ-WRITE FORM ------------------------ */
/* -------------------------------------------------------------------------- */

.rwAvyFormDialog {
	padding: 0px;
    margin: 0px;
}

.rwAvyFormDialog .ui-dialog-titlebar {
	display: none;
}

#rwAvyFormImageDropZone {
	display: block;
	margin: 0 auto;
	padding: 0px;
	background-color: transparent;
	border: 3px solid #7D7D7D;
	color: white;
	width: 650px;
	height: 500px;
}

#rwAvyFormImageDropZoneMsgDiv {
    width: 100%;
    text-align: center;
}

#rwAvyFormImageDropZoneMsgDiv > span {
	display: block;
	margin: 0 auto;
    padding: 10px 0px 20px 0px;
	width: 400px;
    font-size: 1.5em;
}

#rwAvyFormImageGrid {
    vertical-align: top;
    width: 640px;
    margin: 0 auto;
}

.rwAvyFormImageRow {
    vertical-align: top;
    height: 115px;
    padding: 0px;
    margin: 0px;
}

.rwAvyFormImageCell {
    display: inline-block;
    width: 154px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    margin: 3px;
}

.rwAvyFormImageWrapper {
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
}

img.rwAvyFormImage {
    max-width: 150px;
    max-height: 105px;
    position: relative;
    top: 0;
    left: 0;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

img.rwAvyFormImageDeleteIcon {
    position: absolute;
    top: 0px;
    right: 0px;
}

#rwAvyFormImageOldSchoolImgUpload {
	width: 100%;
	padding-top: 20px;
}

#rwAvyFormImageOldSchoolImgUpload > form {
	display: inline;
    width: 200px;
}

#rwAvyFormDetailsMainTable > tbody > tr > td {
    vertical-align: top;
}

#rwAvyFormDetailsLeftColumnTable {
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
}

#rwAvyFormDetailsRightColumnTable {
    padding: 0px 0px 0px 20px;
    margin: 0px;
    border-spacing: 0px;
}

.rwAvyFormSubTable {
	margin: 0px 0px 10px 0px;
}

.rwAvyFormInputsSubTable {
    padding: 5px;
    margin: 0px;
	border: 1px solid #7D7D7D;
	border-radius: 10px;
}

#rwAvyFormSubmitterWrapperTable .rwAvyFormSubTable {
    width: 100%;
}

#rwAvyFormSubmitterWrapperTable .rwAvyFormInputsSubTable {
	width: 100%;
}

.rwAvyFormInputsSubTable > tbody > tr > td {
    padding-top: 5px;
    margin: 0px;
    vertical-align: middle;
}

#rwAvyFormSubmitterWrapperTable {
	width: 100%;
}

#rwAvyFormRequiredFieldsMsgRow {
	height: 100%;
	vertical-align: bottom;
	text-align: right;
}

.rwAvyFormSectionHeader {
	font-weight: bold;
	padding: 0px;
}

#rwAvyFormViewableTd {
	display: none;
}

.rwAvyFormElevation {
    width: 40px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    background: transparent;
    color: white;
    border: none;
}

#rwAvyFormElevation.rwAvyFormElevation {
    text-align: right;
}

#rwAvyFormElevationFt.rwAvyFormElevation {
    text-align: left;
}

#rwAvyFormAspectAC {
    width: 35px;
}

#rwAvyFormComments {
	width: 100%;
}
