html {
	height: 100%; 
    width: 100%;
}

body {
	height: 100%; 
    width: 100%;
	margin:0px; 
	overflow:hidden; 
	font-size:100%;
}

#liftContent {
	height: 100%; 
    width: 100%;
}

#cesiumContainer {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.avyAdminLoggedInDiv {
	z-index: 10;
    position: fixed;
    top: 0px;
    right: 400px;
    background: rgba(255, 255, 0, 0.7);
    color: black;
    text-align: center;
}

label {
    cursor: help;
	font: normal 1em times,serif !important;
}

input {
	font: normal 1em times,serif !important;
	padding-left: 5px;
}

textarea {
	font: normal 1em times,serif !important;
}

textarea:focus, input:focus {
    outline: 0;
}

.ui-widget {
    font-size: 1em;
}

.ui-menu a {
    text-decoration: none;
    white-space: nowrap;
    font: normal .9em times,serif !important;
}

.ui-datepicker{
    font-size: .8em;
    z-index: 1000 !important;
}

.ui-widget-overlay {
   background: black;
   opacity: .40;
   filter: Alpha(Opacity=40);
}

.hasDatepicker {
    background: transparent;
    color: white;
    border: 1px solid #7D7D7D;
    width: 80px;
    height: 20px;
}

.ui-autocomplete {
    background: #1D1D1D;
    max-height: 250px;
    max-width: auto;
    padding-right: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000 !important;
}

.ui-autocomplete-input {
    color: white;
    border: 1px solid #7D7D7D;
    width: 200px;
    height: 20px;
    background: transparent;
}

.ui-autocomplete-category {
    font-size: 1.1em;
    white-space: nowrap;
}

.ui-button-text {
    font-size: .8em;
    padding: 1px 1px 1px 1px;
}

.ui-spinner {
    background: transparent;
    border: 1px solid #7D7D7D
}

.ui-spinner-input {
    width: 30px;
    height: 20px;
    font-size: 1em;
}

.ui-slider {
    background: transparent;
}

.ui-dialog {
    font: normal 1em times,serif !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog .ui-dialog-content {
    overflow: hidden;
}

.avyRawTextInput {
	width: 200px;
    height: 20px;
    background: transparent;
    color: white;
    border: 1px solid #7D7D7D;
}

.avyRDSliderContainer {
    width: 200px;
    padding: 0px;
}

.avyRDSliderValue {
    width: 20px;
    height: 20px;
    color: white;
    background: transparent;
    border: none;
    font-size: 1em;
    padding: 0px 5px 0px 0px;
}

.avyRDSlider {
    width: 170px;
    float: right;
    margin-top: 5px;
    border: 1px solid #7D7D7D
}

.avyMsg p, li {
    margin: 0 0 1em 0;
}

.avyTooltip {
	font: normal 1em times,serif !important;
}

.avyTooltip p {
    margin: 0 0 1em 0;
}

#loadingDiv {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: black;
}

#loadingSplash {
    position: absolute;
    margin: auto;
    height: 200px;
    top: -100px; left: 0; bottom: 0; right: 0;
    text-align: center;
}

#loadingSplashTitle {
    padding: 10px 0px 0px 10px;
}

#multiDialog {
	z-index: 101;
}

.dialogTipsTd :first-child {
    width: 1%;
}

.dialogTipsTd {
    vertical-align: top;
    font-size: .8em;
    font-style: italic;
}

#eyeAltContainer {
	position: absolute;
    top: 8px;
    right: 85px;
    z-index: 100;
    padding: 6px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
}

#northButton {
	position: absolute;
	top: 5px;
    right: 43px;
    z-index: 100;
    background-image: url("/images/north-button.png");
}

#helpDialog {
	font: normal 1em times,serif !important;
	padding: 0px;
}

#helpDialog .ui-tabs-anchor {
	padding: 3px 20px;
}

#helpDialog .ui-tabs-panel {
    padding: 20px 10px;
}

#helpDialog li:focus, a:focus {
	outline: 0;
}

#helpDialog .ui-widget-header {
    background: transparent;
}

#searchHelpDiv, #reportHelpDiv {
    height: 475px;
	overflow-y: auto;
}

#aeControls {
	position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 60px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

#aeControlsTitle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: inherit;
    height: 60px;
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

#aeControlsTitle img {
    padding: 0px;
    margin: 0px 0px 0px 25px;
}

#aeControlsMenuButtonContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
}

#aeControlsMenu {
    max-width: 175px;
    font: normal 1em times,serif !important;
}

.aeControlsContent {
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 450px;
    margin: 0px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.5);
}

.aeControlsContent hr {
    margin: 0px 10px 0px 10px;
    padding: 0px;
}

#howItWorks:link, #howItWorks:visited {
    color: white;
}

.avySearchHeaderContainer {
    position: relative;
    padding: 15px 0px 25px 10px;
}

.avySearchHeader {
    position: fixed;
    font-size: 1.1em;
    font-weight: bold;
    width: 150px;
}

#avySearchHowItWorksDiv {
    float: right;
    font-size: .9em;
    padding: 3px 10px 0px 0px;
}

#avySearchDetailsTable {
    padding: 0px 10px 0px 10px;
    margin: 0px;
    width: 100%;
}

.avySearchTableLabel {
	width: 70px;
	padding: 5px 0px 0px 0px;
    margin: 0px;
}

.avySearchTableInput {
	width:210px;
	padding: 5px 0px 0px 0px;
    margin: 0px;
}

.avySearchSubHeader {
	padding: 20px 0px 5px 0px;
}

#avySearchHumanNumbersTable {
	float: left;
	width: 100%;
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
}

#avySearchButtonsContainer {
	float: right;
}

#avySearchButton {
    padding: 5px;
    margin: 20px 10px 20px 0px;
}

#avySearchResetButton {
    padding: 5px;
    margin: 20px 10px 20px 0px;
}

.avyReportInstructionsHeader {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 15px;
}

.reportInstructions {
    display: none;
    height: 430px;
    padding: 20px 10px 0px 10px;
    background-color: transparent;
}

#avyReportInitLocation {
    width: 150px;
    margin-right: 10px;
}

#avyReportInitLocationButton {
    padding: 5px;
}

.avyReportInstructionsButtonWrapper {
    position: relative;
    width: 280px;
    margin: 10px auto;
    text-align: center;
}

.avyReportInstructionsButtonWrapper > .avyButton {
    margin: 0px 5px 0px 5px;
}
