/* --------------------------- READ-ONLY FORM --------------------------- */

#roAvyFormDialog {
    margin: 5px 5px 0px 5px;
    padding: 0px;
}

.roAvyFormDialog .ui-dialog-titlebar {
	display: none;
}

#roAvyFormTable {
    width: 740px;
    overflow-x: hidden;
}

#roAvyFormTable > tbody > tr > td {
    vertical-align: top;
}

#roAvyFormTitleTable {
    width: 100%;
}

#roAvyFormTitleTable > tbody > tr > td {
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}

#roAvyFormTitleAndSubmitterTable {
    width: 530px;
}

#roAvyFormTitle {
    font: bold 1.2em times,serif !important;
}

#roAvyFormSubmitterExpTd {
	font: italic .8em times,serif !important;
}

#roAvyFormExtLink {
    font: normal .8em times,serif !important;
    text-decoration: none;
}

#roAvyFormSocialButtonsTable > tbody > tr > td {
    vertical-align: top;
    padding: 0px 5px 0px 0px;
    margin: 0px;
}

.twitter-share-button {
    width: 85px !important;
}

#roAvyFormTable hr {
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.roAvyFormSubTable {
	margin: 0px;
}

.roAvyFormFieldsSubTable {
	padding: 5px;
    margin: 0px;
    border: 1px solid #555555;
    border-radius: 10px;
    text-align: left;
}

#roAvyFormCommentsRow {
	display: none;
}

#roAvyFormCommentsRow table {
	width: 100%;
}

#roAvyFormComments pre {
	padding: 0px;
	margin: 0px;
	font: normal 1em times,serif !important;
	white-space: pre-wrap;       /* CSS 3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#roAvyFormComments {
	width: 100%;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}

#roAvyFormImageRow {
    display: none;
}

#roAvyFormImageRow table {
    width: 100%;
}

#roAvyFormImageDiv {
	width: 100%;
}

#roAvyFormImageList {
	max-height: 90px;
	margin: 0px;
	padding: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;
    white-space: nowrap;
}

.roAvyFormImageListItem {
    max-width: 110px;
    max-height: 110px;
    display: inline-block;
    margin: 0px 5px 0px 0px;
}

.roAvyFormImageListItem img {
    max-width: 100px;
    max-height: 70px;
}

/* -------------------------------------------------------------------------- */
/* --------------------------- END READ-ONLY FORM --------------------------- */
/* --------------------------- BEGIN READ-WRITE FORM ------------------------ */
/* -------------------------------------------------------------------------- */

.rwAvyFormDialog {
	padding: 0px;
    margin: 0px;
}

.rwAvyFormDialog .ui-dialog-titlebar {
	display: none;
}

#rwAvyFormImageDropZone {
	display: block;
	margin: 0 auto;
	padding: 0px;
	background-color: transparent;
	border: 3px solid #555555;
	color: white;
	width: 650px;
	height: 500px;
}

#rwAvyFormImageDropZoneMsgDiv {
    width: 100%;
}

#rwAvyFormImageDropZoneMsgDiv > span {
	display: block;
	margin: 0 auto;
    padding: 10px 0px 20px 0px;
	width: 400px;
    font-size: 1.5em;
}

#rwAvyFormImageTable {
    vertical-align: top;
    width: 640px;
    margin: 0 auto;
}

#rwAvyFormImageTable tr {
    vertical-align: top;
    height: 115px;
    padding: 0px;
    margin: 0px;
}

#rwAvyFormImageTable td {
    width: 155px;
    text-align: center;
    vertical-align: middle;
    margin: 3px;
}

#rwAvyFormImageTable img {
    max-width: 155px;
    max-height: 115px;
}

#rwAvyFormImageOldSchoolImgUpload {
	width: 100%;
	padding-top: 20px;
}

#rwAvyFormImageOldSchoolImgUpload > form {
	display: inline;
    width: 200px;
}

#rwAvyFormDetailsMainTable > tbody > tr > td {
    vertical-align: top;
}

#rwAvyFormDetailsLeftColumnTable {
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
}

#rwAvyFormDetailsRightColumnTable {
    padding: 0px 0px 0px 20px;
    margin: 0px;
    border-spacing: 0px;
}

.rwAvyFormSubTable {
	margin: 0px 0px 10px 0px;
}

.rwAvyFormInputsSubTable {
    padding: 5px;
    margin: 0px;
	border: 1px solid #555555;
	border-radius: 10px;
}

#rwAvyFormSubmitterWrapperTable .rwAvyFormSubTable {
    width: 100%;
}

#rwAvyFormSubmitterWrapperTable .rwAvyFormInputsSubTable {
	width: 100%;
}

.rwAvyFormInputsSubTable > tbody > tr > td {
    padding-top: 5px;
    margin: 0px;
    vertical-align: middle;
}

#rwAvyFormSubmitterWrapperTable {
	width: 100%;
}

#rwAvyFormRequiredFieldsMsgRow {
	height: 100%;
	vertical-align: bottom;
	text-align: right;
}

.rwAvyFormSectionHeader {
	font-weight: bold;
	padding: 0px;
}

#rwAvyFormViewableTd {
	display: none;
}

#rwAvyFormDeleteConfirmDialog {
	visibility: hidden;
}

.rwAvyFormElevation {
    width: 40px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    background: transparent;
    color: white;
    border: none;
}

#rwAvyFormElevation.rwAvyFormElevation {
    text-align: right;
}

#rwAvyFormElevationFt.rwAvyFormElevation {
    text-align: left;
}

#rwAvyFormAspectAC {
    width: 35px;
}

#rwAvyFormComments {
	width: 100%;
}
