commands:
  set_time_zone:
    command: ln -f -s /usr/share/zoneinfo/America/Denver /etc/localtime

container_commands:
  http_to_https_redirect:
    command:
      sed -i '/\<VirtualHost \*:80\>/a RewriteEngine on\nRewriteCond %{HTTP:X-Forwarded-Proto} ^http$\nRewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]' /etc/httpd/conf.d/elasticbeanstalk.conf
  restart_httpd:
    command:
      service httpd restart
