commands:
  set_time_zone:
    command: ln -f -s /usr/share/zoneinfo/America/Denver /etc/localtime

container_commands:
  01_apache_mod_deflate:
    command: cp .ebextensions/avyeyes_mod_deflate.conf /etc/httpd/conf.d
  02_apache_mod_expires:
    command: cp .ebextensions/avyeyes_mod_expires.conf /etc/httpd/conf.d
  03_apache_mod_rewrite:
    command: cp .ebextensions/avyeyes_mod_rewrite.conf /etc/httpd/conf.d
  04_https_rewrite_httpd_conf:
    command: cp .ebextensions/elasticbeanstalk.conf /etc/httpd/conf.d
  05_restart_httpd:
    command: /sbin/service httpd restart
