commands:
  set_time_zone:
    command: ln -f -s /usr/share/zoneinfo/America/Denver /etc/localtime

container_commands:
  01_apache_mod_deflate:
    command: cp .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d
  02_https_rewrite_httpd_conf:
    command: cp .ebextensions/elasticbeanstalk.conf /etc/httpd/conf.d
  03_restart_httpd:
    command: /sbin/service httpd restart
