Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupName: {Ref : AWSEBSecurityGroup}
      # GroupId: {Ref : AWSEBSecurityGroup}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

packages:
  yum:
    mod_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        SSLEngine               on
        SSLCertificateFile      "/etc/pki/tls/certs/server.crt"
        SSLCertificateChainFile "/etc/pki/tls/certs/gd_bundle.crt"
        SSLCertificateKeyFile   "/etc/pki/tls/certs/server.key"
        SSLCipherSuite          EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLProtocol             All -SSLv2 -SSLv3
        SSLHonorCipherOrder     On

        Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
        Header always set X-Frame-Options DENY
        Header always set X-Content-Type-Options nosniff

        ProxyPass / http://localhost:8080/ retry=0
        ProxyPassReverse / http://localhost:8080/
        ProxyPreserveHost on

        LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""
        ErrorLog /var/log/httpd/elasticbeanstalk-error_log
        TransferLog /var/log/httpd/elasticbeanstalk-access_log
      </VirtualHost>

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIE6jCCA9KgAwIBAgIDAhypMA0GCSqGSIb3DQEBCwUAMGYxCzAJBgNVBAYTAlVT
      MRYwFAYDVQQKEw1HZW9UcnVzdCBJbmMuMR0wGwYDVQQLExREb21haW4gVmFsaWRh
      dGVkIFNTTDEgMB4GA1UEAxMXR2VvVHJ1c3QgRFYgU1NMIENBIC0gRzQwHhcNMTUw
      OTA3MTYyNzIxWhcNMTYwOTA4MTk0NTA4WjCBmzETMBEGA1UECxMKR1QyMjQ2NDMx
      ODExMC8GA1UECxMoU2VlIHd3dy5nZW90cnVzdC5jb20vcmVzb3VyY2VzL2NwcyAo
      YykxNTE3MDUGA1UECxMuRG9tYWluIENvbnRyb2wgVmFsaWRhdGVkIC0gUXVpY2tT
      U0woUikgUHJlbWl1bTEYMBYGA1UEAxMPd3d3LmF2eWV5ZXMuY29tMIIBIjANBgkq
      hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvvs3NiWltMrJpvL9XsmlzCi1icVKkq2E
      65+jun5TCqRXXQy4bKAea56LV2dHhQbdqYU86c3t2PSiCogLt6mmKVLL13DDK7Yv
      yG0PRHgqOCLvWSRMsHKeQ2xSI7D+IvCGC15Y+1hJWR4aI6HNaGK6PszbhGAmiC8G
      mFxfH0nEXgRwoeQwgWM98EttUqUXbDWH8QU1Lo5XiOFPU038Vo6bYffnU6hP8DRY
      K17vuW4pZ/dVhLqNXBiccEEC6DPIWjNA/LzioQzsSDWfLYbLFUHwugngEcM8JadU
      TDB11q4eUeQF3C6sxACsoW8xcxJg/utnS6gYG8iUX6HzZ1IXA+9rmwIDAQABo4IB
      aTCCAWUwHwYDVR0jBBgwFoAUC1Dsd+8qm//sA6EK/63G5CoYxz4wVwYIKwYBBQUH
      AQEESzBJMB8GCCsGAQUFBzABhhNodHRwOi8vZ3Uuc3ltY2QuY29tMCYGCCsGAQUF
      BzAChhpodHRwOi8vZ3Uuc3ltY2IuY29tL2d1LmNydDAOBgNVHQ8BAf8EBAMCBaAw
      HQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMCcGA1UdEQQgMB6CD3d3dy5h
      dnlleWVzLmNvbYILYXZ5ZXllcy5jb20wKwYDVR0fBCQwIjAgoB6gHIYaaHR0cDov
      L2d1LnN5bWNiLmNvbS9ndS5jcmwwDAYDVR0TAQH/BAIwADBWBgNVHSAETzBNMEsG
      BmeBDAECATBBMD8GCCsGAQUFBwIBFjNodHRwczovL3d3dy5nZW90cnVzdC5jb20v
      cmVzb3VyY2VzL3JlcG9zaXRvcnkvbGVnYWwwDQYJKoZIhvcNAQELBQADggEBAHal
      v/w7bqfUK9Utcy849C19/5GbCBVo3gxj/aSlRAmehfb1ctMWgAxISAbNEPbCX7Vm
      IU860OVyOto4IKvlJI9XsJ2rhJ3tzLc6CCqg37Kq39jQA5uMmbPELMMvLcVqmRkn
      +rKQV1x2HDldpfgu+ivj+BgsYyGg5nMsTrUzCioWxAyoumfyqBxyNgRlJLJhtIkN
      PXZPSSBnP5z0tmWpokhTH3csdQZuwCJF7S2X0n3XfVibD+dvS3gs/FrvqM+vT2Sp
      u8lEP9Qr6CmNHdjPvQr0+pL9EBcBOhYsTflFFIt+40zdYxN+fC7/uj9XGCiBOqk9
      6zH+VrfCfJsfKP0ckPg=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/gd_bundle.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIERDCCAyygAwIBAgIDAjp4MA0GCSqGSIb3DQEBCwUAMEIxCzAJBgNVBAYTAlVT
      MRYwFAYDVQQKEw1HZW9UcnVzdCBJbmMuMRswGQYDVQQDExJHZW9UcnVzdCBHbG9i
      YWwgQ0EwHhcNMTQwODI5MjIyNDU4WhcNMjIwNTIwMjIyNDU4WjBmMQswCQYDVQQG
      EwJVUzEWMBQGA1UEChMNR2VvVHJ1c3QgSW5jLjEdMBsGA1UECxMURG9tYWluIFZh
      bGlkYXRlZCBTU0wxIDAeBgNVBAMTF0dlb1RydXN0IERWIFNTTCBDQSAtIEc0MIIB
      IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA30GUetr35DFDtuoBG1zOY+r6
      baPZau4tmnX51ZxbvTTf2BzJbdgEiNputbe18DCuQNZd+sRTwdQinQROEaaV1UV8
      QQVY4Ezd+e5VvV9G3K0TCJ0s5PeC5gcrng6MNKHOxKHggXCGAAY/Lep8myiuGyiL
      OQnT5/BFpLG6EWeQVXuP3u04XKHh44PEw3KRT5juHMKAqmSlPoNiHMzgnvhawBMS
      faKni6PnnyrXm8rL7ZcBnCiEUQRQQby0/HjpG88U6h8P/C4BMo22NcsKGDvsWj48
      G9OZQx4v973zWxK5B17tPtGph8x3cifU2XWiY0uTNr3lXNe/X3kNszKnC7JjIwID
      AQABo4IBHTCCARkwHwYDVR0jBBgwFoAUwHqYaI2J+6sFZAwRfap9ZbjKzE4wHQYD
      VR0OBBYEFAtQ7HfvKpv/7AOhCv+txuQqGMc+MBIGA1UdEwEB/wQIMAYBAf8CAQAw
      DgYDVR0PAQH/BAQDAgEGMDUGA1UdHwQuMCwwKqAooCaGJGh0dHA6Ly9nLnN5bWNi
      LmNvbS9jcmxzL2d0Z2xvYmFsLmNybDAuBggrBgEFBQcBAQQiMCAwHgYIKwYBBQUH
      MAGGEmh0dHA6Ly9nLnN5bWNkLmNvbTBMBgNVHSAERTBDMEEGCmCGSAGG+EUBBzYw
      MzAxBggrBgEFBQcCARYlaHR0cDovL3d3dy5nZW90cnVzdC5jb20vcmVzb3VyY2Vz
      L2NwczANBgkqhkiG9w0BAQsFAAOCAQEAMyTVkKopDDW5L8PHQpPAxhBLAwh2hBCi
      4OdTEifyCtp/Otz9XHlajxd0Q1Ox1dFdWbmmhGTK8ToKWZYQv6mBV4tch9x/4+S7
      BXqgMgkTThCBKB+cA2K89AG1KYNGB7nnuF3I6dHdrTv4NNvB0ZWpkRjtPCw3EU3M
      /lM+UEP5w1ZBrFObbAWymuLgWVcwMrYmThMlzfpIcA91VWAR9TvVXlo8i1sPD2JC
      SGGFixD0wYi/f1+KwtfNK5RcHzRKCK/rromoSHVVlR27wJoBufQDIj7U5lIwDWe5
      wJH9LUwwjr2MpQSRu6Srfw/Yb/BmAMmjXPWwj4PmnFrmtrnFvL7kAg==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpgIBAAKCAQEAvvs3NiWltMrJpvL9XsmlzCi1icVKkq2E65+jun5TCqRXXQy4
      bKAea56LV2dHhQbdqYU86c3t2PSiCogLt6mmKVLL13DDK7YvyG0PRHgqOCLvWSRM
      sHKeQ2xSI7D+IvCGC15Y+1hJWR4aI6HNaGK6PszbhGAmiC8GmFxfH0nEXgRwoeQw
      gWM98EttUqUXbDWH8QU1Lo5XiOFPU038Vo6bYffnU6hP8DRYK17vuW4pZ/dVhLqN
      XBiccEEC6DPIWjNA/LzioQzsSDWfLYbLFUHwugngEcM8JadUTDB11q4eUeQF3C6s
      xACsoW8xcxJg/utnS6gYG8iUX6HzZ1IXA+9rmwIDAQABAoIBAQCuA/L7yHPjdv8k
      urV4393NV66KORVI7wh1NYGXFTGPOc1MwKFugLsXLmAipL17DZV9uCSXmQbGr6jS
      VcHveIopjwKjbGC5fIivZAgMSD2X5uUV4UhrYhSotJNnaAc4SNaqly4W3wv+Qrpo
      iy7BlWvEex7t0DprzgWBYHFf7fQaAPV07v8AAoeX7wK/QGZm3iG6KtLyPMrF2E2W
      sQ55KLuLhx6VLohAfbOd4TT7YZOF/uHV2yYHRvua9GoOQPJ2fg6Ahc7vj1oRh1s2
      p6YTJ8ng2r0y1cwYVKyLu5FIcAy7sgnpUvKKN386y/DXS7mdTueY0o1APPsAAueh
      J+6beCvJAoGBAPseRySw5vJgbczK12s1+FYX5k7rn/jgSCqiQYmMmR0jcHSCWVr4
      /oDHYcNCPVnji5W7vLoyKnPEE7ILo2mvO3dLz8KqutJeGTOkteXJ1JJUbGPIVeeS
      dLAqwU3xpaIkt81+KBZW0XOXc3qRvJkIb5LRg3XlXwTZ1FRNmMQVJ8EVAoGBAMKx
      qJQbja5HBa+7LbU8I9azRtda7UA0gDZfD4nkClVq8bTT+F2YRjRaMrk8fGiUNVJe
      TfZ6gC4OrhXZBdk3CkTuowEh8KQ4CNegqCGoKAEjbwOMeeraHE5llsN+DY9nphfz
      lWtOjbCckI2T9L+0s4gihi4vWtrn5SiofPn4icXvAoGBANX3UYUY2l9Q/J2PhAeM
      v+GTkaBTMkZbzAHPqOnri5cBWFNdsYdLO4c827cE3MOXl5rokQFRt0xWmLWPJxjo
      v1GBni/vSynuFakkQfzegSqBlq1ayJ988cIdXAHu0UOb56THRp7qMKM+O54HSVxX
      jMHblRjCbLj0Ze/DAlSo9euVAoGBAMC5cHC8HbHIqD5egU6IK8naSWPgpD4MOmaY
      Dx+mVvxbEsy3j4HGvKgSKWfoEhbLr0TMCUzV0pDFA1qpK/rrWwUFXOJAIJ/OwCIC
      7Kv0czU9SCUxJ3ZtVdvdADKgUvgD2AyZmO1SIzwSn50mOv6R963ozv5k7gEH0HZA
      4wXnGyqNAoGBAIzfSVEyMIuQyAu/h021AZ96aGCSWxBrli/hfT0ddhZ3nY/zjW1P
      H4bjnaRxJiVaEH4QMKZyhWrSLRIAE6QNnkTBo18Hyv0LohvfTkgBU7gpzBcPkGq8
      D1BO3heVR/VtlYPDMkC8NCl64C2ttRmw0SfZmu8ir0wMiqXk+Se+Xsqt
      -----END RSA PRIVATE KEY-----

services:
  sysvinit:
    httpd:
      enabled: true
      ensureRunning: true
      files : [/etc/httpd/conf.d/ssl.conf,/etc/pki/tls/certs/server.key,/etc/pki/tls/certs/gd_bundle.crt,/etc/pki/tls/certs/server.crt]