html {
  height: 100%;
  width: 100%;

  body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-size: 100%;

    .fullScreen {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
}
