@(acSources: Map[String, String], avalanche: Option[String], adminUser: Option[com.jamiesampey.avyeyes.model.AvyEyesUser])(implicit messages: Messages)

<!DOCTYPE html>
<html>
    <head>
        <title>AvyEyes</title>

        <meta name="description" content="AvyEyes is a graphical, searchable database of avalanches built on the Cesium 3D javascript library" />
        <meta property="fb:app_id" content="541063359326610" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="AvyEyes" />
        <meta property="og:description" content="View avalanches in 3D" />
        <meta property="og:url" content="http://avyeyes.com" />
        <meta property="og:image" content="http://avyeyes.com/assets/images/avyeyes.jpg" />

        <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.ico")"/>

    </head>
    <body>
        <div id="root" class="fullScreen"></div>
        <script src="@routes.Assets.versioned("javascripts/build/avyeyes.js")"></script>
    </body>
</html>
